<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Notre dernier évenement</mat-card-title>
    <mat-card-subtitle>Anger GeekFest</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="img2"  alt="affiche AGF" />
  <mat-card-content>
    <p>
      Pour l'édition 2021, la Fédération Française de Jeux-Vidéo a tenu un stand
      à la Angers GeekFest. 10 Pc était mis à disposition afin de faire une
      animation sur des petits jeu indépendants, les jeux du moments et bien sur
      les fameux jeux en équipe de style Rocket league, Valorant, ou encore
      Rugby 20.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
