<h3>QUI SOMMES NOUS ?</h3>
    <h4> WOlfblue Esport est une Association sous loi 1901, elle a été crée en Avril 2020 par deux fan
        de Jeux-Vidéos. Elle intervient dans 3 domaine différentes:</h4><br />

    <h4><u>La Sensibilisation du Jeux-Vidéos:</u> </h4>
        Ambassadeur Pédagojeux, nous intervenons dans le but d'aider les parents à mieux connaitre
        l'étendu des jeux-vidéos. Nous apportons notre aide aux enfants et leurs parler des jeux-vidéos
        ainsi que des métiers qu'on retrouve. Notre but ? Créé une campagne de sensibilisation dans les
        établissement Scolaire.<br />

    <h4><u>L'organisation et la création d'événement autour du jeu-vidéo:</u></h4>
        Vous souhaitez organiser un tournoi sur un jeu ? Permettre de faire découvrir le jeu-vidéo lors
        d'un événements ? Animer un stand lors d'une convention ? Et bien nous nous occupons de tout ça
        !
        Récemment grâce àa la Fédération Française de Jeu-Vidéo, certains membres de la Wolfblue Esport
        était présente lors de la Angers GeekFest 2021.<br />

    <h4><u>La Création d'équipe et la participation à des tournois Esport :</u> </h4>
        Vous souhaitez découvrir l'univers de l'Esport ? Vous souhaitez mettre vos talents à la vue de
        tous mais n'avez aucune équipes ou personnes pour vous aidez ? Et bien sachez que la Wolfblue
        Esport cherche en continue des joueurs afin d'intégrer leurs équipes et de représentez
        l'association lors de tournoi. Le but de 2022 ? Participez au qualification Française IeSF !
        <br />


