<h3> NOS MISSIONS</h3>

    <h4>><u>La sensibilisation au jeu-vidéo :</u></h4><br />
    Le jeu-vidéo a connu une année record en 2020 pour donner suite aux différents confinements liés
    à
    la Covid-19. Un chiffre d’affaires de 5,3 Milliards d’euro pour une croissance de 11,3%. Des
    chiffres
    plutôt impressionnants. Avec un tel engouement, des personnes de plus en plus jeunes commence à
    jouer aux différents jeux que l’on puisse rencontrer, passant de jeux à but éducatifs à des jeux
    de
    guerres. Certains prenant cela avec tellement d’importance qu’ils dénigrent la vie quotidienne.
    Notre but est alors d’informer les personnes sur les risquent que peuvent causer les
    jeux-vidéos, les
    aidés à comprendre tout ceci.<br />
    Cependant, on ne s’arrête pas là. Même si les jeux peuvent rendre certaines personnes addictes,
    elles peuvent apporter énormément de chose : l’esprit d’équipe, la stratégie, les réflexes, la
    réflexion, apprendre tout en s’amuser, ... Nous voulons montrer les inconvénients comme les
    avantages du jeu-vidéo.Nous voudrions mettre en place des événements autour du jeu-vidéo afin de
    promouvoir notre
    activité. Que ce soient des conventions où chacun pourrait poser leur question, des
    rassemblements
    de joueurs, des tournois amateurs comme professionnels.<br />

    <h4><u>La création d’événement communal, départemental et régional : </u></h4><br />

    Nous sommes adhérents à la Fédération Française de Jeux-Vidéos où le but est de crée des
    tournois
    nationaux en prenant des qualifications d’abord départementales puis régional. En collaborant
    avec
    eux, nous sommes en mesures de proposer des activités régulières au sein de département et de la
    commune du MansComme décrit plus haut, le marché du jeu-vidéo comporte une place très importante
    en France et
    dans le monde. C’est alors qu’une nouvelle discipline s’est créée : l’E-sport. Des compétitions
    sur un
    jeu en particulier ont lieu un peu partout dans le monde et ont une place bien définie.
    Cependant, en
    France, elle n’est pas reconnue comme véritable discipline, pas de fédération officielle, pas de
    tournoi national officielle. Certains départements n’ont pas de club afin d’avoir les
    renseignements
    nécessaires à tout ça.<br />

    <h4><u>La propagation de l’E-Sport</u></h4><br />

    Il est difficile de nos jours de montrer l’impact qu’à l’E-sport, seules les grosses
    associations ou les
    grosses entreprises peuvent bénéficier de bon renseignement, ne laissant aucune place aux
    petites
    associations de commune. C’est cet aspect que nous voulons changer.
